# Dependencias y compilaciones
**/node_modules/
**/dist/
**/build/
**/coverage/

# Variables y secretos locales
**/.env
**/.env.local
**/.env.*.local
**/.env.*
!**/.env.example
!**/.env.*.example
**/*.dump
**/*.backup
**/*.pem
**/*.p12

# Archivos generados o temporales
**/*.log
**/.tmp/
**/.temp/
.DS_Store

# Editores
.idea/
.vscode/

